*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
}

 .leftside{
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
 }

 .leftside img{
    width: 100%; 
    height: 100vh;
    background-size: cover;
 }
/*  
 .leftside .logo{
     justify-content: center;
     text-align: center;
 } */

 .rightside
{
    width: 100%;
    height: 100vh;
    
    margin-left:20px ;
    margin-right:-80px ;
}

.rightside img{
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.right2
{
    text-align: center;
    
    padding-bottom: 0px;
}

.right2 p{
    padding-top: 40px;
}

.right2 h4{
    padding-top: 40px;
}